<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit  lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="banAll()"><i class="layui-icon"></i>批量禁用</button>
                            <button class="layui-btn" onclick="xadmin.open('添加用户','/bg/addUser',600,400)"><i class="layui-icon"></i>添加</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                  <tr>
                                    <th >
                                      <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                                    </th>
                                    <th>ID</th>
                                      <th>昵称</th>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>地址</th>
                                      <th>简介</th>
                                      <th>余额</th>
                                      <th>注册时间</th>
                                    <th>状态</th>
                                    <th>操作</th></tr>
                                </thead>
                                <tbody>
                                  <tr th:each="user : ${page.records}">
                                    <td >
                                      <input type="checkbox" name="id" th:value="${user.id}"   lay-skin="primary">
                                    </td>
                                    <td th:text="${user.id}">1</td>
                                    <td th:text="${user.username}">小明</td>
                                      <td th:text="${user.nickname}">小明</td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.address != null ? user.address :'空'}">北京市 海淀区</td>
                                      <td th:text="${user.introduction != null ? user.introduction :'空'}"></td>
                                      <td th:text="${user.money}">999.99</td>
                                      <td th:text="${#dates.format(user.registerDate ,'yyyy年MM月dd日 HH:mm')}"></td>
                                    <td class="td-status">
                                      <span th:if="${user.activeStatus}" class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                                      <span th:if="${!user.activeStatus}" class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span></td>
                                    <td class="td-manage">
                                      <a th:id="'a'+${user.id}" th:onclick="'member_stop(this,'+${user.id}+')'" href="javascript:;"  th:title="${user.activeStatus ? '停用':'启用'}">
                                        <i class="layui-icon">&#xe601;</i>
                                      </a>
                                      <a title="编辑"  th:onclick="xadmin.open('编辑','/bg/editUser/[[${user.id}]]',600,400)" href="javascript:;">
                                        <i class="layui-icon">&#xe642;</i>
                                      </a>
                                      <a onclick="xadmin.open('修改密码','/member-password.html',600,400)" title="修改密码" href="javascript:;">
                                        <i class="layui-icon">&#xe631;</i>
                                      </a>
                                      <a title="注销" th:onclick="'member_del(this,'+${user.id}+')'"  href="javascript:;">
                                        <i class="layui-icon">&#xe640;</i>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div th:if="${page.total > 10}" id="page" class="page">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script th:inline="javascript">
      layui.use(['form','laypage'], function(){
        var  form = layui.form;
        var laypage = layui.laypage;
        var keywords = [[${keywords}]];

          laypage.render({
              elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
              groups:6, //连续的页数
              limit:10, //每页显示的条数
              curr: [[${page.current}]], //当前页
              count: [[${page.total}]], //数据总数，从服务端得到
              jump(obj,first){
                console.log(obj);
                if(first) return;
                if(keywords) location.href = `/bg/userList?page=${obj.curr}&size=${obj.limit}&keywords=${keywords}`;
                else location.href = `/bg/userList?page=${obj.curr}&size=${obj.limit}`;
              }
          });

          form.on('submit(search)',function(data){
              var info = data.field;
              /*无信息不让提交*/
              if(!info.username){
                  layer.msg("请输入查询关键字",{icon:5,time:1000});
                  return false;
              }
              console.log(info);
              location.href = `/bg/userList?keywords=${info.username}`;
            return false;
          })


        // 监听全选
        form.on('checkbox(checkall)', function(data){
          if(data.elem.checked){
            $('tbody input').prop('checked',true);
          }else{
            $('tbody input').prop('checked',false);
          }
          form.render('checkbox');
        }); 

      });

       /*用户-停用*/
      function member_stop(obj,id){
          var msg = '';
          if($(obj).attr('title')=='停用') msg = '停用';
          else msg = '启用';
          layer.confirm(`确认要${msg}吗?`,function(index){
              if($(obj).attr('title')=='停用'){

                changeUserActive(false,id);
                //发异步把用户状态进行更改
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                  changeUserActive(true,id);
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon:1,time:1000});
              }
              
          });
      }


      /**
       * 改变用户激活状态
       */
      function changeUserActive(state,id){
        $.ajax({
            type:"POST",
            dataType:"json",
            contentType:"application/json",
            url:"/bg/banUser?"+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
            data:JSON.stringify({
                state: state,
                id: id
            }),
            success(data){
                if(!data.state){
                    layer.msg(data.msg,{icon:5,time:1000});
                }
            }
        });
      }

      /*用户-注销*/
      function member_del(obj,id){
          layer.confirm(`<p>注销用户需要满足：无余额，已禁用</p><p>确认注销该用户吗？</p>`,function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已注销!',{icon:1,time:1000});
          });
      }



      /*批量禁用*/
      function banAll (argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
               ids.push($(this).val())
            }
        });
        console.log(ids);
        layer.confirm('确认要删除吗？'+ids.toString(),function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                type:"POST",
                dataType:"json",
                contentType:"application/json",
                url:"/bg/banUsers?"+[[${_csrf.parameterName}]]+'='+[[${_csrf.token}]],
                data:JSON.stringify(ids),
                success(data){
                    if(data.state){
                        layer.msg(data.msg, {icon: 1});
                        //改变所选的状态
                        banIds(ids);
                    }else{
                        layer.msg(data.msg, {icon: 5});
                    }
                }
            });
        });
      }

      /*批量禁用时需要改变状态*/
      function banIds(ids){
          for(var id of ids){
              var obj = '#a'+id;
              $(obj).attr('title','启用')
              $(obj).find('i').html('&#xe62f;');
              $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
          }
      }
    </script>
</html>